* {
    /* margin: 5px; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Cormorant Garamond', serif;
    color: #4d4d4d;
}

header {
    padding: 10px;
}

.navbar-toggler {
    border: none;
}

#logo span {
    color: #00CED1;
}

.logo-pic {
    width: 120%;
}

#intro {
    display: flex;
    height: 250px;
    background-image: url("../web.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;
    opacity: 0.8;
}

#intro h2 {
    margin: auto;
    /* font-size: 2.2em; */
    font-size: 2.5em;
    /* font-weight: bold; */
    /* color: black; */
    /* color: #33001a; */
    color: white;
    /* font-weight: 900; */
    padding: 5px;
    /* font-family: 'Rajdhani', sans-serif; */
    /* font-family: 'Poiret One', cursive; */
}

#about, 
#experience, 
#portfolio {
    /* color: white; */
    font-size: 2em;
    font-weight: 900;
}

#menu {
    justify-content: center;
}

.navbar {
    justify-content: center;
}

#about h3,
#experience h3,
#portfolio h3 {
    font-weight: 900;
    font-size: 0.9em;
    font-family: 'Poiret One', cursive;
    margin: 50px 0px 20px;
}

#about p {
    font-size: 0.7em;
    font-weight: 400;
}

#experience img {
    width: 50%;
}

hr {
    width: 85%;
    margin: auto;
}

#contact h3 {
    font-size: 1.8em;
    font-weight: 600;
    /* color: white; */
    font-family: 'Poiret One', cursive;
}

.me {
    border-radius: 10px;
    max-width: 50%;
}

.contact-info {
font-size: 1.4em;
/* color: white; */
}

#contact {
    /* background-image: url("../contact-3.jpg");
    background-repeat: no-repeat; */
    background-color: #f8f8f8;
    background-image: linear-gradient( white, #f8f8f8);
    background-size: cover;
    margin-top: 50px;
}

.contact {
    font-weight: 900;
    font-size: 1.4em;
    color: #4d4d4d;
    text-decoration: underline teal;
    text-underline-position: under;
    padding-bottom: 10px;
}

.contact:hover {
    text-decoration: underline #40E0D0;
}

#contact p {
    margin: 0;
}

#social {
    background-color: rgb(165, 216, 216 );
}

#logo-bottom {
    margin: auto;
    max-width: 280px;
}

#logo-bottom h3{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}

#logo-bottom h4 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 1em;
}

#social-links p {
    font-size: 1.2em;
    color: white;
}

#social-links h4 {
    text-decoration: underline;
}

.linkedin {
    width: 6%;
    fill: white;
}

.location {
    width: 6%;
    fill: white;
    display: inline-block;
}

.project img{
    width: 90%;
    padding: 30px 0;
}

#portfolio {
    background-image: linear-gradient(white, #eef3f7);
    padding-bottom: 50px;
}

.line {
    width: 10%;
}