 /* ========================================
                Color variables
======================================== */
$color-text-primary: #4d4d4d;
$color-text-secondary: white;
$color-text-tertiary: #008B8B;
$color-text-dextail: #B8860B;

 /* ========================================
                Media Query variables
======================================== */
$tablet: 768px;
$laptop: 1024px;
