@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* --- Mobile Display --- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #404040;
    margin: 0;
}
 
/* Header section */
header {
    text-align: center;
    background-color: #fafafa;
    padding-bottom: 20px;
}

h1 {
    font-size: 1.7em;
    margin: 0;
    padding: 30px 0px 10px;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    font-size: 0.9em;
    padding: 10px;
    margin: 7px 15px;
    background-color: white;
}

nav ul li:hover {
    color: #DAA520;;
}

ul {
   padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;    
}

.profile-img {
    max-width: 70%;
    padding-top: 30px;
}

.intro {
    text-align: center;
    font-size: 1em;
    color: #7a7a7a;
    padding: 25px;
    margin: 0;
}

/* Main section - portfolio */ 

h3 {
    font-size: 0.9em;
    margin: 50px 0;
    text-transform: uppercase;
}

#portfolio {
    margin-bottom: 50px;
}

.img-portfolio {
    max-width: 90%;
}

#portfolio h2 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 20px 0;
}

#portfolio p {
    font-size: 1em;
    font-weight: 200;
    margin: 0px 20px 40px; 
}

/* Main section - skills */ 

#skills {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 100px;
}

#skills h3 {
    font-size: 0.9em;
    margin: 50px 0;
}

.logo {
    max-width: 50%;
}

/* Main section - contact  */ 

#contact {
    background-color: #fafafa;
    padding: 20px 0px 40px;
    font-family: 'Poiret One', cursive;;
}

#contact h3 {
    margin-bottom: 30px;
}

#contact p {
    font-weight: 200;
    margin: 0 19px;
    color: #7a7a7a;
    font-size: 1em;
}

#contact li {
    padding: 10px;
    color: #DAA520;
    list-style: none;
}

span {
    color: #7a7a7a;
}

/* Footer */ 

footer {
    background-color: #fafafa;
}

footer {
    padding: 20px;
}

footer p {
    float: left;
    font-size: 0.8em;
    font-weight: 700;
}

.phone-screen {
    float: right;
}

footer nav p:hover {
    color: #DAA520;
}

hr {
    border: 1px solid #dcdcdc;
    max-width: 100%;
    margin-bottom: 15px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bigger-screen {
    display: none;
}


/* --- Tablet Display --- */

@media (min-width: 768px) {

/* Header */

header {
    padding-bottom: 50px;
}

header ul li {
    display: inline-block;
    padding: 0;
}

header a {
    background-color: #fafafa;
}

.intro {
    max-width: 55%;
    font-weight: 200;
    font-size: 1.3em;
    text-align: left;
    padding-left: 30px;
}

.profile-img {
    float: right;
    max-width: 40%;
    padding-right: 30px;
}

/* main */ 

.portfolio-1,
.portfolio-3,
.portfolio-5
 {
    max-width: 50%;
    float: left;
}

.portfolio-2,
.portfolio-4,
.portfolio-6 
 {
    max-width: 50%;
    float: right;
}

.logo {
    max-width: 35%;
}

/* Main - Contact */ 

#contact p {
    font-size: 1.3em;
    margin: 0px 100px 50px;
}

#contact li {
    font-size: 1.3em;
}

#contact li {
    color: #DAA520;
}

/* Footer */ 

.footer-wrapper {
    width: 90%;
    margin: auto;
}

.bigger-screen {
    float: right;
    display: inline;
}

.bigger-screen p {
    padding: 0px 5px;
}

.phone-screen {
    display: none;
}

}

/* --- Desktop Display --- */

@media (min-width: 1024px) {

body {
    background-color: #fafafa;
    max-width: 1000px;
    margin: auto;
}

/* Header section */

.header-top {
    width: 100%;
    display: flex;
}

#home {
    max-width: 50%;
    display: inline-block;
}

header nav {
    max-width: 50%;
    display: inline-block;
    margin-left: auto;
}

header {
    width: 93%;
    margin: auto;
    height: auto;
}

header ul {
    margin: 0;
    margin-top: 30px;
    float: right;
}

.intro {
    padding-left: 0;
}

.profile-img {
    padding-right: 15px;
}


/* main section */

#portfolio {
    background-color: white;
    max-width: 95%; 
    padding-top: 2px;
    margin: auto;
}

.portfolio-1,
.portfolio-4 {
    max-width: 32%;
    float: left;
}

.portfolio-2,
.portfolio-5 {
    max-width: 32%;
    float: left;
    position: relative;
    left: 20px;
}

.portfolio-3,
.portfolio-6 {
    max-width: 32%;
    float: right;
}

.portfolio-6 {
    float: right;
}

#skills {
    background-color: white;
    padding-top: 2px;
}

.logo {
    max-width: 30%;
    padding-bottom: 50px;
}

#contact p{
    max-width: 60%;
    margin: auto;
    padding-bottom: 30px;
}

}