.header-line {
    &-top {
        width: 100%;
        border-width: 2px;
    }
    &-bottom {
        width: 100%;
        border: 1px;
    }
}

.logo {
    width: 310px;
    cursor: pointer;
}

.navbar-toggler {
    border: none;
    width: 50px;
    &:focus {
        box-shadow: none;
    }
    &-icon::after {
        display: none;
    }
}

a:hover,
a p:hover {
    background-color: #fafafa;
}

#intro {
    display: flex;
    background-image: url("../images/web.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    height: 300px;
}

@media(min-width: $tablet) {
    #intro {
        height: 400px;
        background-position: 50% 50%;
        background-attachment: fixed;
    }

    .logo {
        width: 30%;
    }
}

@media(min-width: $laptop) {
    body {
        padding-top: 237.13px;
    }

    .logo{
        position: relative;
        width: 300px!important;
        height: auto!important;
        transition: all 0.7s ease;
        transform-origin: left center;
        -webkit-transform: translateZ(0);
    }

    .tiny{
        width:200px!important;
    }

    #nav-container {
        position: fixed; 
        top: 0; 
        width: 100%; 
        z-index: 1000;  
        background-color: white;
    }

    #intro {
        background-attachment: fixed;
        height: 500px;
    }

    a:hover {
        background-color: initial;
    }


    .active {
        color: teal;
    }
}



