.break-line {
    width: 85%;
    opacity: 0.4;
    border: 2px;
}

.line {
    width: 20px;
    border-top: 1px solid;
    opacity: 0.7;
}

.edu-treehouse {
    width: 200px;
}

#experience .skill img {
    width: 150px;
    animation : rotate 10s infinite;
}

@keyframes rotate {
    from {
    transform: rotateY(0deg);
}   to {
    transform: rotateY(360deg);
}
}

.line-dash {
    border: none;
    border-top: 1px dashed $color-text-dextail;
    background-color:#fff;
    width: 85%;
}

.project img{
    width: 90%;
    padding: 30px 0;
}

#portfolio {
    background: rgb(51,147,156);
    background: linear-gradient(0deg, rgba(51,147,156,0.2819502801120448) 0%, rgba(255,255,255,1) 100%);
}

.img {
    &-wrap {
        position: relative;
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
    }
    &-description {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(112, 128, 144, 0.80);
        visibility: hidden;
        opacity: 0;  
        transition: opacity 1s, visibility 1s;
    }
}

.img-description h2,
.img-description p,
button {
    position: relative;
    top: 15%;
}

.img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
}

button {
    border-radius: 5px 5px;
    border: none;
    height: 60px;
    background-color: rgba(245, 245, 245, 0.80);
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    &:focus {
        border: none; 
    }
    & span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }
    &:hover span {
        padding-right: 25px;
        &:after {
            opacity: 1;
            right: 0; 
        }
    }
}

#contact {
    background-size: cover;
}

.me {
    border-radius: 10px;
    max-width: 50%;
}

@media (min-width: $tablet) {
    #about {
        height: 250px;
        & p {
            width: 750px; 
        }
    }

    #experience .edu-treehouse {
        max-width: 200px;
    }

    .education {
        width: 400px;
        height: 200px;
    }

    .skill {
        width: 250px;
        display: inline-block;
        text-align: center;
        &-img {
            width: 300%;
        }
    }

   .line-dash {
       display: none;
   }

    .img-wrap {
        display: inline-block;
        width: 300px;
    }

    .me {
        width: 200px;
    }


    #contact {
        width: 600px;
        height: 700px;
    }

    .buttons {
        width: 100%;
        margin: auto;
    }
}

@media(min-width: $laptop) {
    #about {
        width: 800px;
    }

    .line-dash {
        display: none;
    }

    .skill .html{
        text-align: right;
        justify-content: right;
        justify-self: right;
        justify-items: right;
    }

    #experience .skill img {
        width: 200px;
        animation : rotate 10s infinite;
    }

    .img-wrap {
        display: inline-block;
        width: 500px;
    }

    button{
        text-align: center;
    }

    .box {
        display: grid;
        grid-template-rows: 80px 50px;
        width: 500px;
        text-align: center;
    }

    .buttons {
        display: grid;
        grid-template-rows: 50px;
        grid-gap: 30px;
    }

    .break-line {
        width: 1000px;
    }
}




