* {
    font-family: 'Cormorant Garamond', serif;
    color: $color-text-primary;
}

.header-line-top {
    opacity: 1;
    color: $color-text-primary;
}

a {
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 100;  
    &:hover {
        color: $color-text-tertiary !important;
    }
}

.header-line-bottom {
    color: black;
    opacity: 1;
}

#intro h2 {
    font-size: 2.5em;
    color: $color-text-secondary;
}

.ml12 .letter {
    color: $color-text-secondary;
}

// #about-container, 
// #portfolio-container{
//     font-size: 2em;
//     font-weight: 900;
// }

#about-container h3 {
    font-weight: 900;
    font-size: 2em;
    font-family: 'Poiret One', cursive;
}

#about-container p {
    font-size: 1.2em;
    font-weight: 400;
}


.break-line {
    color: grey;
}

.line {
    color: $color-text-dextail;
}

.heading {
    font-size: 2em;
}

// .education-info {
//     font-size: 0.7em;
//     font-weight: 400;
// }

.education-container {
    font-size: 1.5em;
}

.skill-list {
    font-size: 1.4em;
}

.portfolio-heading {
    font-size: 3em;
}

.year h2 {
    font-size: 1em;
}


.info {
    &-1 {
        font-weight: 900;
        font-size: 0.9em; 
    }
    &-2 {
        font-size: 0.8em;
    }
}


.skill-info {
    color: $color-text-dextail;
    font-size: 0.7em;       
}

.img-description {
    color: #fff;
    & h2 {
        font-size: 1.1em;
        color: #F5F5F5;
        font-weight: 600;
        font-style: italic;
    }
    & p {
        color: #F5F5F5;
        font-size: 1em;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 100;
    }
}

button:focus {
    outline-color: $color-text-tertiary;
}

#contact-btn{
    font-size: 0.8em;
    font-weight: 400;
}

.contact-button {
    font-family: 'Cormorant Garamond', serif;

}

#contact-container h3 {
    font-size: 1.8em;
    font-weight: 600;
    font-family: 'Poiret One', cursive;
}

#contact-container p{
    font-size: 1.2em;
}

.contact {
    &-button {
        font-weight: 900;
        font-size: 1.4em;
        color:  $color-text-tertiary;
        text-decoration: underline #b2d8d8;
        text-underline-position: under; 
        &:hover,
        &:focus {
            text-decoration: underline $color-text-tertiary;
        }
    }
    &-info {
        font-size: 1.4em;
    }
}

#logo-bottom {
    & h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.43em;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $color-text-secondary;
    }
    & h4 {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: $color-text-secondary;
        font-size: 1em;
    }
}

.email,
.location-container p {
    text-transform: capitalize;
    font-family: 'Cormorant Garamond', serif;
    font-size: 0.2em;
}

.email {
    text-transform: lowercase;
    &:hover {
        color: $color-text-tertiary;
    }
}

.linkedin {
    color: unset !important;
    & path:hover {
        color: unset !important;
    }
}

.treehouse-icon {
    &:hover,
    & path:hover {
        color: unset !important;
    }
}

.location {
    &:hover,
    &-info:hover {
        color: $color-text-tertiary;
    }
}

.github {
    &:hover,
    & path:hover {
        color: unset !important;
    }
}

#social-links {
    & h4 {
        text-decoration: underline;
    }
    & p {
        font-size: 1.2em;
        color: $color-text-secondary
    }
}


@media (min-width: $tablet) {
     .navbar-nav {
        font-size: 0.9em;
    }

    .education-container {
        font-size: 1.3em;
    }


    .navbar a:hover,
    .navbar a p:hover {
    font-weight: 100;
    color: $color-text-tertiary;
    }

    .year h2 {
        font-size: 1.1em;
    }

    .info {
        &-1 {
            font-size: 1.1em;
        }
        &-2 {
            font-size: 0.9em;
        }
    }

    #contact-container h3 {
        font-size: 2em;
    }

    #contact-container {
        max-width: 400px;
    }
}

@media(min-width: $laptop) {
    #intro h2 {
        font-size: 4em;
    }

    .box h2 {
        font-size: 1.7em;
    }

    .active {
        color: $color-text-tertiary !important;
      }


    #contact-container p {
        font-size: 1.3em;
    }
}